.white-button.ui-button.ui-state-default {
	background-color: #ffffff;
	color: #222222;
	border-color: #d6d6d6;
	/* with the exported variables from Nova and Luna Themes*/
	border-color: var(- -input-border-color, #d6d6d6);
}

.white-button.ui-button.ui-state-default:enabled:hover, .white-button.ui-button.ui-state-default:focus
	{
	background-color: #f2f2f2;
	border-color: #ccc;
	color: #373a3c;
	/* with the exported variables from Nova and Luna Themes*/
	border-color: var(- -input-hover-border-color, #ccc);
}

.green-button.ui-button.ui-state-default {
	background-color: #5cb85c;
	border-color: #5cb85c;
	color: #fff;
}

.green-button.ui-button.ui-state-default:enabled:hover, .green-button.ui-button.ui-state-default:focus
	{
	background-color: #4cae4c;
	border-color: #5cb85c;
}

.red-button.ui-button.ui-state-default {
	background-color: #d9534f;
	border-color: #d9534f;
	color: #fff;
}

.red-button.ui-button.ui-state-default:enabled:hover, .red-button.ui-button.ui-state-default:focus
	{
	background-color: #d43f3a;
	border-color: #d9534f;
}

.ui-outputlabel {
	font-weight: bold;
}

.ui-orderlist .ui-orderlist-list {
	height: auto;
}

/* Style For Layout Template */
.box, .sample-layout>div {
	background-color: #cce4f7;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 4px;
}

.box-stretched {
	height: 100%;
}

.vertical-container {
	margin: 0;
	height: 200px;
	background: #efefef;
	border-radius: 4px;
}

.nested-grid .p-col-4 {
	padding-bottom: 1em;
}

/* New CSS Stle for the template from Dilan  */
.header-footer {
	background-image: linear-gradient(to right, #1b7dd1, #1e4768);
	height: 50px;
	margin-bottom: 5px;
	color: white;
	padding-top: 5px;
	text-align: center;
}

#template-header {
	position: fixed;
	top: 0;
	width: 100%
}

#template-menu {
	position: fixed;
	top: 50px;
	left: 5px;
	/* background-image: linear-gradient(to right, #ffffff, #6a6cf1); */
	height: 100%;
	border-radius: 10px;
}

#template-content {
	position: absolute;
	top: 50px;
	left: 16.5%;
	z-index: -1;
}

#template-footer {
	background-image: linear-gradient(to right, #1b7dd1, #1e4768);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
}

#footer-link {
	color: white;
	font-size: 14px;
}

.cc-display-inline {
	display: inline-block;
	margin-bottom: 15px;
	margin-right: 15px;
}

.ui-paginator {
	text-align: right !important;
}

.ui-datatable thead th {
	background-color: #e02365 !important;
	font-weight: bold !important;
	color: white !important;
	font-size: medium;
}

.orange-btn {
	background: orange !important;
	border: 1px solid orange !important;
}