@charset "ISO-8859-1";

    .ui-datalist .ui-datalist-content {
        border:0 none
    }
 
    .ui-datalist ul {
        padding: 0px 10px 0 20px;
        margin: 5px 0;
    }
 
    .value {
        font-weight: bold;
    }
 
    .ui-autocomplete-itemtip {
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    
    /* Css for the tables */
    
    .ui-datatable {
        margin-bottom: 25px
    }
 
    .ui-datatable .ui-datatable-header {
        text-align: right !important;
    }
 
    .ui-button-text-only .ui-button-text {
        padding: 0.3em 0.4em;
    }
 
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
        visibility: hidden;
    }
 
    .ui-filter-column .ui-column-customfilter .custom-filter {
        width: 100%;
        box-sizing: border-box;
    }
 
    .year-spinner input {
        width: 100%;
        box-sizing: border-box;
    }
    